{% extends "base.html" %}

{% block content %}

  <h5 class="center purple-text text-darken-3" style="margin-top: 5%;">Статус обращения</h5>
    <div class="row">
        <table>
        <form method="POST" id="id_ticket" action="search/">{% csrf_token %}
            <input type="hidden"><strong></strong>
            <br>
            <div>
                <h6>E-Mail адрес:</h6>
                <input type="text" name="reporter_email" class="validate" size="30" value="" placeholder="E-mail">
            </div>
            <div>
                <h6>ID обращения:</h6>
                <input type="text" name="id_ticket" class="validate" size="16" value="" placeholder="ID обращения">
            </div>
            <p>
            <input class="btn purple darken-3" type="submit" name="action" value="Посмотреть статус" style="float: right; margin-top: 5%;">
            </p>
        </form>
    </table>
    </div>

{% endblock content %}
