{% extends 'base.html' %}

{% block content %}
    <h3 class="reight purple-text text-darken-3">Данные обращения</h3>
    <form method="POST" action="{% url 'post-new' %}">
    	{% csrf_token %}
    	<div>
		    <p>Код обращения: {{ form.uuid }}</p>
            <p>Имя пользователя: {{ form.reporter_name }}</p>
            <p>E-mail пользователя: {{ form.reporter_email }}</p>
            <p>Тема обращения: {{ form.subject }}</p>
            <p>Описание проблемы: {{ form.body }}</p>
       </div>
        <div>
            <p>
            <input class="btn purple darken-3" type="submit" name="action" value="OK" style="float: left; width: 100px; height: 40px; font-size: 1.5em;">
            </p>
		</div>
        
    </form>
{% endblock %}